<a class='mat-display-3 black-link' id='title' routerLink='/'>Montessoriförskolan Kaprifolen <img id='icon' src='assets/favicon.png'></a>
<div id='nav-container'>
	<div id='images'>
		<img *ngFor='let name of imageIds' src='assets/bilder/{{name}}.jpg'/>
	</div>
	<div id='nav-horizontal'>
		<app-nav-item routerLink='/'>Hem</app-nav-item>
		<app-nav-item routerLink='/pedagogik'>Pedagogik</app-nav-item>
		<app-nav-item routerLink='/blanketter'>Blanketter</app-nav-item>
		<app-nav-item routerLink='/personal'>Personal</app-nav-item>
		<app-nav-item routerLink='/gdpr'>GDPR</app-nav-item>
		<app-nav-item routerLink='/länkar'>Länkar</app-nav-item>
	</div>
</div>