@use '~@angular/material' as mat;

#title {
	margin-top: 44px;
	margin-bottom: 22px;
	// margin-left: 50px;
	text-align: center;
}
#icon {
	position: relative;
	bottom: 5px;
	width: 100px;
	vertical-align:middle;
}

#images {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 0 20px;
	height: 152px;
	overflow: hidden;
	img {
		position: relative;
		height: 77%;
		margin: 25px 10px;
		margin-bottom: 100px;
		border-radius: 5px;
		// border: 2px rgb(255, 140, 200) solid;
		@include mat.elevation(2, #555);
	}
}

#nav-container {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	@include mat.elevation(3, #555);
	border-radius: 8px;
	// border-radius: 0 0 8px 8px;
	// border-top: none;

	border: 5px rgb(53, 150, 255) solid;
	background-color: rgb(255, 230, 240);
	// background-color: rgb(18, 107, 202);
	
	margin-bottom: 40px;
}

#nav-horizontal {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0px 15px;
	// border-radius: 8px;
	// background-color: rgb(50, 150, 255);

	app-nav-item {
		flex-grow: 1;
		text-align: center;
	}
}
