<h1>Personal</h1>
<p>Personallaget består av rektor, förskollärare med montessoriutbildning, förskollärare, barnskötare samt köks- och städpersonal.</p>

<p>På Montessoriförskolan Kaprifolen arbetar:</p>
<ul>
	<li>Carina Hammar, utbildad rektor, leg. lärare och förskollärare.</li>
	<li>Kim Blomqvist Storm, leg. förskollärare och utbildad montessorilärare.</li>
	<li>Emelie Bäckman, leg. lärare, förskollärare och utbildad montessorilärare.</li>
	<li>Maria Ekström, barnskötare.</li>
	<li>Ann-Christin Sheffel, barnskötare.</li>
	<li>Lovisa Lundin, barnskötare.</li>
	<li>Wenche Pettersson, barnskötare.</li>
	<li>Belma Celhasic, barnskötare, kök och städ.</li>
	<li>Laila Mafoud, kök och städ.</li>
</ul>
