@use '~@angular/material' as mat;

#form-container {
	// background-color: rgb(247, 247, 247);
	max-width: 370px;
	padding: 18px 30px;
	padding-bottom: 14px;
	margin-bottom: 20px;
	border-radius: 10px;
	@include mat.elevation(3, #999);
}
#form-name {
	font-size: 32px;
	margin-bottom: 5px !important;
}
#form-description {
	font-size: 20px;
	margin-bottom: 5px !important;
}

#form-button-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
a {
	border-radius: 5px;
	font-size: 24px;
	padding: 5px 10px;
}
a:last-child {
	margin-left: 5px;
}
