<h1>Montessoripedagogiken</h1>

<h2>
Bakgrund
</h2>
<p>
Maria Montessori föddes 1870 som enda barnet i familjen. Trots att omgivningen var emot hennes studieval genomförde hon sina läkarstudier och blev den 10 juni 1896 Italiens första kvinnliga läkare. Montessori fick en tjänst på en psykiatrisk klinik i Rom där hon mötte barn som ansågs sjuka. Det hon såg var att de saknade stimulans. Miljön erbjöd inget stimulerande arbete alls för dessa barn. Montessori kom fram till att barnen behövde undervisning mer än de behövde vård. 
</p>
<p>
1906 började Montessori pröva sina metoder på barn som inte hade behov av vård eller extra stöd och den 6 januari 1907 öppnades ett daghem för barn mellan 3 och 6 år, Casa dei Bambini. För att se om de materiel som hon använde passade alla barn öppnades fler daghem. Montessoripedagogiken uppstod någon gång mellan 1907 och 1909. 
</p>
<p>
<i>”Hjälp mig att göra det själv”</i> är ett centralt begrepp inom montessoripedagogiken. Montessori menade att det var viktigt att den vuxne hjälper barnet att hjälpa sig själv i sin strävan till självständighet. Detta innebär alltså att läraren stöttar barnet så att det ges möjlighet att erövra nya kunskaper. Montessori ansåg att läraren skulle fungera som en vägledare istället för en person som förmedlar kunskap.
</p>

<h2>
Montessorimaterielen
</h2>
<p>
Montessorimaterielen är indelade i fem ämnesområden. Det första är de <i>praktiska vardagsövningarna</i>. Materielen är konstruerade på ett sådant sätt så barnet ges möjlighet att träna på saker som kan leda till dess självständighet. 
</p>

<p>
Ytterligare ett ämnesområde som barnet tidigt börjar arbeta med är de <i>sensoriska materielen</i>. Den grundläggande tanken i dessa är att barnet med hjälp av sina sinnen ska få möjlighet att lära, men även förstå sin omvärld med hjälp av dessa.
</p>

<p>
<i>Matematik</i> är något som barnet kommer i kontakt med redan i samband med de praktiska vardagsövningarna och i de sensoriska materielen. Inom montessoripedagogiken arbetar man med att först ge barnen en förståelse för det konkreta för att de sedan ska få en förståelse för det abstrakta.
</p>

<p>
För att kommunicera behöver man ha ett språk. Man behöver inte nödvändigtvis kunna tala för att kommunicera men ord gör det lättare. Ett syfte med <i>språkmaterielen</i> är att ta vara på barnets känsliga period för språk som enligt montessoripedagogiken är mellan 0-6 år. 
</p>

<p>
<i>Kultur</i> är uppdelat i ämnesområdena geografi, naturkunskap, historia samt bild och musik. Inom montessoripedagogiken utgår man från helhet och bryter ner till delar, för att på så sätt skapa en helhetsförståelse. Det läggs stor vikt vid att hela barnet utvecklas. Montessori ansåg att det var viktigt att barnet fick uttrycka sig på en rad olika sätt. Varje barn ges möjlighet att skapa utifrån sina egna intressen och förutsättningar.
</p>

<p>
Källa: Signert, 2000 och Skjöld Wennerström & Bröderman Smeds, 2009
</p>

<p>
För mer info, besök gärna Montessoriförbundets hemsida på <a href="https://montessoriforbundet.se">montessoriforbundet.se</a>
</p>
